<h1 class="text-center mt-4">

  <strong>Our Objectives</strong>

</h1>
<section class="about ">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="author-img">
          <img src="https://github.com/priyanshu9888/tanentverify-image/blob/main/about%20us.png?raw=true"
            class="img-fluid" alt=" about us ">
        </div>
      </div>
      <div class="col-lg-7 d-flex flex-column justify-content-center">

        <div class="icon-box border border-dark pt-3">
          <i class="fas fa-chart-line"></i>
          <h2> Strategy</h2>
          <p class="description">Our strategy is to make background verification services accessible and easy for all by
            using the latest technology..</p>
        </div>
        <hr>
        <div class="icon-box border border-dark mt-3 pt-3">
          <i class="fas fa-bullseye"></i>
          <h2>Mission</h2>
          <p class="description">Our mission is to create a safe and livable society by spreading awareness regarding
            the importance of background verification of every individual, society & company.</p>
        </div>
        <hr>
        <div class="icon-box border border-dark pt-3 ">
          <i class="far fa-eye  "></i>
          <h2>Vision</h2>
          <p class="description">Our vision is to provide the maximum and the right information in the interest of our
            clients & society.</p>
        </div>


      </div>
    </div>
  </div>
</section>