<section class="our-team">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1><strong>Core Team</strong> </h1>
      </div>
    </div>
    <hr class="mb-5 mt-4">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="member">
          <img src="https://github.com/priyanshu9888/tanentverify-image/blob/main/garimajain.png?raw=true"
            class="img-fluid" alt="" />
          <div class="member-info">
            <div class="member-detail">
              <h4>Garima Jain</h4>
              <span>Director & Co-Founder</span>
            </div>
            <div class="social">
              <a href="https://www.linkedin.com/in/garima-jain-2b44b8200/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="member">
          <img src="https://github.com/priyanshu9888/tanentverify-image/blob/main/vashujain.png?raw=true"
            class="img-fluid" alt="Vasu Jain" />
          <div class="member-info">
            <div class="member-detail">
              <h4>Vasu Jain</h4>
              <span>Director & Co-Founder</span>
            </div>
            <div class="social">
              <a href="https://www.linkedin.com/in/vasu-jain-5a549930/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="member">
          <img src="https://github.com/priyanshu9888/tanentverify-image/blob/main/drkeerthi.png?raw=true"
            class="img-fluid" alt="Dr. Keerthi N.V" />
          <div class="member-info">
            <div class="member-detail">
              <h4>Dr. Keerthi N.V</h4>
              <span>Director & Co-Founder</span>
            </div>
            <div class="social">
              <a href="https://www.linkedin.com/in/keerthi-pg-ortho-a7898981"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-5">
  </div>
</section>
<section class="our-team pt-0">
  <div class="container">
    <div class="row">
    </div>
    <hr class="mb-5 mt-4">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="https://github.com/priyanshu9888/tanentverify-image/blob/main/anuj%20jain.jpeg?raw=true"
            class="img-fluid" alt="Anuj Jain" />
          <div class="member-info">
            <div class="member-detail">
              <h3>Anuj Jain</h3>
              <span>CEO & Founder</span>
            </div>
            <div class="social">
              <a href="https://www.linkedin.com/in/anuj-jain-41305721/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="https://github.com/priyanshu9888/tanentverify-image/blob/main/dinesh%20jain.png?raw=true"
            class="img-fluid" alt="Dinesh Jain" />
          <div class="member-info">
            <div class="member-detail">
              <h4>Dinesh Jain</h3>
                <span>CTO & Co-Founder</span>
            </div>
            <div class="social">
              <a href="https://www.linkedin.com/in/dineshjain2911"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="https://github.com/priyanshu9888/tanentverify-image/blob/main/vivek%20kumar.png?raw=true"
            class="img-fluid" alt="Vivek Kumar Sultania" />
          <div class="member-info">
            <div class="member-detail">
              <h3>Vivek Kumar Sultania</h3>
              <span>CFO & Co-Founder</span>
            </div>
            <div class="social">
              <a href="https://www.linkedin.com/in/vivek-kumar-sultania-494a4331/"><i
                  class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img src="https://github.com/priyanshu9888/tanentverify-image/blob/main/shivakumar.png?raw=true"
            class="img-fluid" alt="Shivakumar" />
          <div class="member-info">
            <div class="member-detail">
              <h3>Shivakumar S</h3>
              <span>COO & Co-Founder</span>
            </div>
            <div class="social">
              <a href="https://www.linkedin.com/in/shivakumar-s-222984206"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-5">
  </div>
</section>
<section class="our-team mt-0">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-0">
        <h1><strong>
            Our Advisory Board
          </strong> </h1>
      </div>
    </div>
    <hr class="mb-5 mt-4">
    <div class="row">
      <div class="col-lg-12 col-md-6">
        <div class="member">
          <img src="https://github.com/priyanshu9888/tanentverify-image/blob/main/ps%20vastrad.png?raw=true"
            class="img-fluid" alt="P.S. Vastrad, IAS" />
          <div class="member-info">
            <div class="member-detail">
              <h2>P.S. Vastrad, IAS</h2>
              <span>34+ years Civil Servant Veteran</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

