<!-- == About Us Section === -->
<h1 class="hd text-center">
  <strong>
   How does Tenantverify.in work?
  </strong>
   </h1>
 <section class="about">
   <div class="container">
      <div class="row">
         <div class="col-lg-5">
            <div class="author-img">
               <img src="https://github.com/priyanshu9888/tanentverify-image/blob/main/how%20tenent.png?raw=true" class="img-fluid" alt=" verification service in india">
            </div>
         </div>
         <div class="col-lg-7 d-flex flex-column justify-content-center">
       
            <div class="icon-box">
               <i class="fas fa-file"></i>
               <h4 class="title">Documents Collection</h4>
               <p class="description">We collect documents from your doorsteps and verify them before submitting to the Police Department.</p>
            </div>
            <hr>
            <div class="icon-box">
               <i class="fas fa-receipt"></i>
               <h4 class="title">Acknowledgement Receipt</h4>
               <p class="description">We deliver the Police Verification acknowledgement receipt post submission of documents at your doorsteps.</p>
            </div>
            <hr>
            <div class="icon-box">
               <i class="fas fa-hotel"></i>
               <h4 class="title">Appointment</h4>
               <p class="description">We guide the verifier for physical appearance in the local police station as per accurate process</p>
            </div>
            <hr>
            <div class="icon-box">
               <i class="fab fa-wpforms"></i>
               <h4 class="title">Report Delivery</h4>
               <p class="description">Finally, we deliver the Police Verification Certificate issued by Police Department at your doorsteps.</p>
            </div>
            <hr>

         </div>
      </div>
   </div>
</section>
<!-- End About Us Section -->