{% load static %}
<link rel="stylesheet" href="{% static 'css/herobanner.css' %}">
<section class="about">
  <section class="hero-banners bg-light py-5">
    <div class="container">
      <div class="row row align-items-center">
        <div class="col-lg-5 offset-lg-1 order-lg-1">
          <img
            src="https://github.com/priyanshu9888/tanentverify-image/blob/main/Why%20is%20Police%20Verification.png?raw=true"
            class="img-fluid" alt="Web Development">
        </div>
        <div class="col-lg-6">
          <h1 class="hd "><a>Why Is <span>Police Verification</span></a> Important</h1>

          <div class="col-lg-12 d-flex flex-column justify-content-center">

            <div class="icon-box">
              <i class="fas fa-check-circle"></i>
              <p class="description">When you are renting out your property without background check of your tenant,
                there is a possibility of you facing trouble in future</p>
            </div>
            <hr>
            <div class="icon-box">
              <i class="fas fa-hands"></i>
              <p class="description">As an employer, employing someone without background verification, may put you in
                legal issues</p>
            </div>
            <hr>
            <div class="icon-box">
              <i class="fas fa-file-invoice"></i>
              <p class="description">Under section -188 of Indian Penal Code (IPC) The Police is empowered with the
                right to penalise the offender for non compliance of Tenant Verification with simple imprisonment or a
                monetary penalty or both</p>
            </div>
            <hr>
          </div>
        </div>
      </div>
      <h3>
        BE RESPONSIBLE AND VERIFY NOW
      </h3><a href="/contact">
        <button type="button" class="btn btn-warning">contact us </a> </button>
    </div>
  </section>
</section>