{% load static %}
<link rel="stylesheet" href="{% static 'css/herobanner.css' %}">
<section class="hero-bannerr bg-light py-5 ">
  <div class="container">
    <div class="row row align-items-center">
      <div class="col-lg-5 offset-lg-1 order-lg-1">
        <img src="https://github.com/priyanshu9888/tanentverify-image/blob/main/heroimage.png?raw=true"
          class="img-fluid" alt="Tanentverify">
      </div>
      <div class="col-lg-6 mb-3">
        <h1 class="hd text-light mt-3 "><a>Verify Today<span class="mx-2">Secure Tomorrow.</span></a></h1>
        <p class="lead text-light my-5">We assist you in the background check of your tenants and employees for your
          secured and better future.
          .</p>
        <div class="text-center ">
          <a href="/apointment"
            class=" mr-1 btn btn-outline-warning btn-lg border text-center text-dark bg-warning">Book appointement</a>
          <a href="/tdata" class=" mx-1 my-3  btn btn-outline-light btn-lg border text-center">Verify Now </a>
        </div>
      </div>
    </div>
  </div>
</section>