<!--------------what is tenent-->
<h1 class="hd text-center">
  <strong>What is Tenantverify.in ?</strong>
</h1>
<section class="hero-banners bg-light py-5">
  <div class="container">
    <div class="row row align-items-center">
      <div class="col-lg-5 offset-lg-1 order-lg-1">
        <img
          src="https://github.com/priyanshu9888/tanentverify-image/blob/main/whytenentverify.png?raw=true"
          class="img-fluid"
          alt="what is tanent"
        />
      </div>
      <div class="col-lg-6">
        <p class="lead text-dark my-4">
          We help Societies, Landlords, Property Managers and Employers to
          verify the background of their Tenants, PGs, Domestic helps,
          Housekeeping, Gardeners, Security Guards, Cooks, Drivers and Employees
          of all other sector to achieve a greater sense of confidence when
          allowing them to rent their place or employ them. . .
        </p>
        <p class="lead text-dark my-4">
          Allowing a new resident or employee into your property by having
          factual information at hand about the individual can help owners or
          employers make a better, more educated and rational decision.
        </p>
      </div>
    </div>
  </div>
</section>
<!---- end -->
