<!---------contact us -->
<h1 class="hd text-center">
  <strong> Why Tenantverify.in </strong>
</h1>

<div class="our-services">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="service-box shadow-lg p-3 mb-5 bg-body rounded">
          <div class="row">
            <div class="col-3">
              <i class="fas fa-mobile" aria-hidden="true"></i>
            </div>
            <div class="col-9">
              <h3><a href="#"> User Friendly Online Platform </a></h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="service-box shadow-lg p-3 mb-5 bg-body rounded">
          <div class="row">
            <div class="col-3">
              <i class="fas fa-satellite-dish" aria-hidden="true"></i>
            </div>
            <div class="col-9">
              <h3><a href="#"> Technological Competence </a></h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="service-box shadow-lg p-3 mb-5 bg-body rounded">
          <div class="row">
            <div class="col-3">
              <i class="fas fa-dollar-sign" aria-hidden="true"></i>
            </div>
            <div class="col-9">
              <h3><a href="#"> Cost Effective </a></h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="service-box shadow-lg p-3 mb-5 bg-body rounded">
          <div class="row">
            <div class="col-3">
              <i class="fas fa-cogs" aria-hidden="true"></i>
            </div>
            <div class="col-9">
              <h3><a href="#"> Streamlined Process </a></h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="service-box shadow-lg p-3 mb-5 bg-body rounded">
          <div class="row">
            <div class="col-3">
              <i class="fas fa-laptop-house" aria-hidden="true"></i>
            </div>
            <div class="col-9">
              <h3><a href="#"> End to End Doorstep Services </a></h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="service-box shadow-lg p-3 mb-5 bg-body rounded">
          <div class="row">
            <div class="col-3">
              <i class="fas fa-tachometer-alt" aria-hidden="true"></i>
            </div>
            <div class="col-9">
              <h3><a href="#"> Accurate & Fast Execution </a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
