<h1 class="hd text-center mt-4">
  <strong>
    Background Verification
  </strong>
</h1>
<section class="hero-banner bg-light py-5">
  <div class="container">
    <div class="row row align-items-center">
      <div class="col-lg-5 offset-lg-1 order-lg-1">
        <img src="https://github.com/priyanshu9888/tanentverify-image/blob/main/service.png?raw=true" class="img-fluid"
          alt="Web Development">
      </div>
      <div class="col-lg-6">

        <h5 class="pl-0">



          Renting out a property can be a traumatic experience especially when you do not know the tenant
          personally. Renting to strangers comes with a list of problems that can not only empty your
          savings but can also because of a headache. As a homeowner, renting through brokers or middlemen
          offers no guarantee against damage to your home or any illegal activities on your property.
          <br>
          It also doesn’t guarantee that your tenants will pay the rent on time. That’s why the tenant
          verification process is a crucial step which needs to be done by you or a trusted agency. Read
          on to understand more on what tenant verification is and how it is performed.


          .
          .
        </h5>
        <h5> Allowing a new resident or employee into your property by having factual information at hand
          about the individual can help owners or employers make a better, more educated and rational
          decision.</h5>


      </div>
    </div>
  </div>
</section>



<h1 class="hd text-center">
  <strong>
    How we Do it(verification)
  </strong>
</h1>
<div class="conta">
  <div class="container">
    <div class="main-timeline">

      <!-- start experience section-->
      <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
          <div class="date-outer">
            <span class="date" style="font-size:65px; color: rgb(108, 204, 11);">
              <i class="fas fa-phone-volume"></i>
            </span>
          </div>
        </div>
        <div class="timeline-content">
          <h1 class="title" style="font-size: 60px;
                  line-height: 26px;
                  color: #dbb520;">1</h1>
          <p class="description" style="font-size: 22px;
                  color: white;">
            After signing the contract , client coordinator gives you a welcome call and builds a shared understanding
            of the documentry and verification requirement.
          </p>
        </div>
      </div>
      <!-- end experience section-->

      <!-- start experience section-->
      <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
          <div class="date-outer">
            <span class="date " style="font-size:65px;color: rgb(108, 204, 11);">
              <i class="fas fa-laptop-code"></i> </span>
          </div>
        </div>
        <div class="timeline-content">
          <h1 class="title" style="font-size: 60px;
                  line-height: 26px;
                  color: #dbb520;">2</h1>
          <p class="description" style="font-size: 22px;
                  color: white;">
            Online Portal Deliver.
          </p>
        </div>
      </div>
      <!-- end experience section-->

      <!-- start experience section-->
      <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
          <div class="date-outer">
            <span class="date" style="font-size:65px;color: rgb(108, 204, 11);">
              <i class="fas fa-user-clock "></i>
            </span>
          </div>
        </div>
        <div class="timeline-content">
          <h1 class="title" style="font-size: 60px;
                  line-height: 26px;
                  color: #dbb520;">3</h1>
          <p class="description" style="font-size: 22px;
                  color: white;">
            Once the cases are received, documentry insufficiences reported within 24 hours.
          </p>
        </div>
      </div>
      <!-- end experience section-->

      <!-- start experience section-->
      <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
          <div class="date-outer">
            <span class="date " style="font-size:65px;color: rgb(108, 204, 11);">
              <i class="fas fa-scroll"></i>
            </span>
          </div>
        </div>
        <div class="timeline-content">
          <h1 class="title" style="font-size: 60px;
                  line-height: 26px;
                  color: #dbb520;">4</h1>
          <p class="description" style="font-size: 22px;
                  color: white;">
            Additionally, random audits are conducted to ensure accuracy.
          </p>
        </div>
      </div>
      <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
          <div class="date-outer">
            <span class="date" style="font-size:65px;color: rgb(108, 204, 11);">
              <i class="fas fa-cloud-download-alt"></i>
            </span>
          </div>
        </div>
        <div class="timeline-content">
          <h1 class="title" style="font-size: 60px;
                  line-height: 26px;
                  color: #dbb520;">5</h1>
          <p class="description" style="font-size: 22px;
                  color: white;">
            The reports become available on the online portal.
          </p>
        </div>
      </div>
      <!-- end experience section-->

    </div>
  </div>
</div>