<h1 class="hd text-center mt-4 pb-4">
  <strong>

    What Can You Expect?

  </strong>
</h1>



<div class="container">
  <div class="row text-center">
    <div class="col-lg-3">
      <div class="card plan-card">
        <div class="card-block">
          <div class="pt-3 pb-3">
            <h1><i class="fas fa-handshake plan-icon"></i></h1>
            <h6 class="text-uppercase text-primary">Great
              Service</h6>
          </div>

          <div class="plan-features pb-3 mt-3 text-muted padding-t-b-30">

            <p>Since our inception, we have been growing from strength to strength. Our client base has also witnessed a
              solid growth. This can be attributed to the consistency in maintaining high standard of service levels .We
              understand your requirements and customise our services accordingly. We have always aspired to manage our
              clients’ expectations, maintain high availability, practice honesty and transparency in all our
              communications and dealings. We have been successful in achieving so by bringing together great teams
              across sales, customer service, verifications and engineering.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card plan-card">
        <div class="card-block">
          <div class="pt-3 pb-3">
            <h1><i class="fas fa-file-import plan-icon bg-dark"></i></h1>
            <h6 class="text-uppercase text-dark">Reliable accurate
              results - on time</h6>
          </div>

          <div class="plan-features pb-3 mt-3 text-muted padding-t-b-30">

            <p>We deliver what is promised. We are accountable for delivering reports within specified Turnaround Time.
              Except for certain extreme cases, we deliver on or before our deadlines. All the verifications are carried
              out with prudence and documented accurately, leaving minimal scope for any deviation. </p>

          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card plan-card">
        <div class="card-block">
          <div class="pt-3 pb-3">
            <h1><i class="fas fa-users plan-icon bg-pink"></i></h1>
            <h6 class="text-uppercase text-pink">More Time for
              Your Core Task</h6>
          </div>

          <div class="plan-features pb-3 mt-3 text-muted padding-t-b-30">

            <p>We take on the task of complete employee background verification, and give you a thoroughly verified
              candidate. You can thereby focus on your core goals of keeping the employees happy and engaged with your
              company.</p>

          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card plan-card">
        <div class="card-block">
          <div class="pt-3 pb-3">
            <h1><i class="fas fa-cogs plan-icon bg-teal"></i></h1>
            <h6 class="text-uppercase text-teal">Technological
              Competence</h6>
          </div>

          <div class="plan-features pb-3 mt-3 text-muted padding-t-b-30">

            <p>Driven by cutting-edge technology, we had earlier created the largest public database on Indians. We
              continue to harness technology to solve complex problems in the areas of background verifications.</p>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>