{% load static %}
<!-- footer section start -->
<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="address">
            <h4>Skanda Integrated Services Pvt Ltd.</h4>
            <p class="mb-4 mt-4">CIN : U74110KA2019PTC125486</p>
            <p class="mb-0 mt-0">
              No. 27/3, 006, Buildwell Homes, Borewell Road, Nallurahalli,
              Whitefield Bengaluru, Karnataka,
            </p>
            <p><strong>India - </strong> 560 066</p>
          </div>
        </div>

        <div class="col-lg-2 col-sm-6 footer-menus">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="fas fa-check"></i> <a href="#">Home</a></li>
            <li><i class="fas fa-check"></i> <a href="/about">About us</a></li>
            <li>
              <i class="fas fa-check"></i> <a href="/service">Services</a>
            </li>
            <li>
              <i class="fas fa-check"></i>
              <a href="/termsandcondition">Terms of service</a>
            </li>
            <li>
              <i class="fas fa-check"></i> <a href="/privacy">Privacy policy</a>
            </li>
            <li>
              <i class="fas fa-check"></i> <a href="/disclaimer">Disclaimer</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-sm-6 footer-menus">
          <h4>Our Services</h4>
          <ul>
            <p><strong>India - </strong> 560 066</p>
          </ul>
        </div>

        <div class="col-lg-4 col-sm-6 newsletter">
          <h4>Contact Us</h4>
          <p><strong>Whatsapp: </strong> +91 6363827088</p>
          <p><strong>Call: </strong> +91 80 49564156 / 41643626</p>
          <p><strong>Email: </strong>hello@tenantverify.in</p>

          <div class="social-links mt-3">
            <a href="https://www.facebook.com/tenantverify.in"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/tenantverif/"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/tenantverify/"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com/tenantverify.in/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UC1h936wOmP4DqvjgcgCfXNQ"><i class="fab fa-youtube"></i></a>
            <!-- <a href="/tdata"><i class="fab fa-pinterest-p"></i></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-center mb-2">
            &copy; Copyright <strong>Tanentverify</strong>. All Rights Reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>