<section class="hero-banners bg-light py-5">
  <div class="container">
    <div class="row row align-items-center">
      <div class="col-lg-5 offset-lg-1 order-lg-1">
        <img
          src="https://github.com/priyanshu9888/tanentverify-image/blob/main/tenantverifyapp.png?raw=true"
          class="img-fluid"
          alt="verification"
        />
      </div>
      <div class="col-lg-6">
        <h1>Get <strong> Tenantverify.in</strong> App Now</h1>
        <p class="lead text-dark my-5">
          We help Societies, Landlords, Property Managers and Employers to
          verify their Tenants, PGs, Domestic Helps, Housekeeping, Gardeners,
          Security Guards, Cooks, Drivers and Employees of all other sector to
          achieve a greater sense of confidence when allowing them to rent their
          place or employ them. .
        </p>
        <div class="flex social-btns">
          <a
            class="app-btn blu flex vert"
            href="https://apps.apple.com/in/app/tenantverify-in/id1546610050"
          >
            <i class="fab fa-apple"></i>
            <p>
              <br />
              <span class="big-txt">App Store</span>
            </p>
          </a>

          <a
            class="app-btn blu flex vert"
            href="https://play.google.com/store/apps/details?id=com.tenantverify.tenantverify"
          >
            <i class="fab fa-google-play"></i>
            <p>
              <br />
              <span class="big-txt">Google Play</span>
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
