{% extends 'layouts/base.html' %}
{% block banner %}
{% include './login-banner.html' %}
{% endblock banner %}
{% block content %}
{% if messages%}
{%for message in messages%}
<div class="container mt-3 message alert alert-{{message.tags}} text-center">{{message}}</div>
{%endfor%}
{%endif%}
<div class="mt-5 mb-5 otp-login-form text-center pb-3 shadow">
<h5 class="p-3">Enter Your Email Address</h5>
<form method="POST" class="p-4">
{% csrf_token%}
<input type="email" name="email" placeholder="paste Enter Email here" required>
<button class="btn" required>Submit</button>
</form>
</div>
{% endblock content %}