<p class="mt-4 ml-5 mr-5 text-center">All rights reserved. The information on this Website is the property of
  Tenantverify.in, and may not be reproduced in any manner without the express written permission of Tenantverify.in</p>
<p class="mt-3 ml-5 mr-5 text-center">The information and material published on www.tenantverify.in (hereinafter
  referred as “Website”) are subject to change without prior notice. Information contained in this website, including
  text, graphics, links or other items are provided on an 'as is', 'as available' basis. Tenantverify.in does not
  warrant the accuracy, adequacy timeliness, authority or completeness of the information and material and this site may
  contain technical inaccuracies or typographical errors. Tenantverify.in expressly disclaims liability for errors or
  omissions in this information and material. No warranty of any kind, implied, express or statutory, including but not
  limited to the warranties of non-infringement of third party rights, title, merchantability, fitness for a particular
  purpose and freedom from computer virus, is given in conjunction with the information and materials.</p>
<p class="mt-3 ml-5 mr-5 text-center">Tenantverify.in has no control over, and no duty to take any action regarding:
  which users gain access to its Website and/or the Services; what content they access via the Site and/or the Services
  can be controlled by the us ; what effects the content on the Site and/or the Services may have on the user; how the
  user may interpret or use the content on the Site and/or the Services; or what actions the user may take as a result
  of having been exposed to the content on the Site and/or the Services. Therefore, in no event will Tenantverify.in be
  liable for any damages, including without limitation direct or indirect, special, incidental, or consequential
  damages, losses or expenses arising in connection with this website or use thereof or inability to use by any party,
  or in connection with any failure of performance, error, omission, interruption, defect, delay in operation or
  transmission, computer virus or line or system failure, even if Tenantverify.in, or representatives thereof, are
  advised of the possibility of such damages, losses or expenses.</p>
<p class="mt-3 ml-5 mr-5 text-center">The Tenantverify.in information consists of statements of opinion and not
  statements of fact or recommendations to utilize the services of any specific person verified by us. You should obtain
  any additional information necessary to make an informed decision prior to utilizing any specific person/service
  provider. You assume all responsibility in connection with choosing any person/service provider, whether or not you
  obtained information about such person/service provider on or through Website. Tenantverify.in and the directors,
  officers, agents, and representatives, assume no (and hereby disclaims all) responsibility or liability of any kind,
  for any advice, treatment or other services rendered by any person/service provider, or for any malpractice claims and
  other claims that may arise directly or indirectly from any such advice, treatment or other services.</p>
<p class="mt-3 ml-5 mr-5 text-center "> More information can be found in Tenantverify.in's User Agreement. Any questions
  or clarifications with respect to this Policy can be addressed to:</p>
<p class="mt-3 ml-5 mr-5 h3"> SKANDA INTEGRATED SERVICES PRIVATE LIMITED </p>
<p class="mt-3 ml-5 mr-5"> Any questions or clarifications with respect to this Policy can be addressed to:</p>
<p class="mt-5 ml-5 mr-5 h5">
  Registered Office :
<address>
  <p class=" mr-4 text-center ">006, Buildwell Homes, Nallurahalli</p>
  <p class=" mr-4 text-center ">Borewell Road, Whitefield</p>
  <p class=" mr-4 text-center ">Bangalore 560066</p>
</address>
</p>
<p class="mt-5 ml-5 mr-5 h5">Corporate Office:
<address>
  <p class=" mr-4 text-center ">006, Buildwell Homes, Nallurahalli</p>
  <p class=" mr-4 text-center ">Borewell Road, Whitefield</p>
  <p class=" mr-4 text-center ">Bangalore 560066</p>
</address>
</p>
<p class="mt-5 ml-5 mr-5 h5">
  Phone:
<p class=" mr-4 text-center ">+91-80-49564156 / +91 6363827088</p>
</p>

<p class="mt-5 ml-5 mr-5 h5">CIN Number:
<p class=" mr-4 text-center ">
  U74999KA2019PTC125486
</p>
</p>
<p class="mt-5 ml-5 mr-5 h5">
  GSTIN Number:
<p class=" mr-4 text-center ">
  29ABCCS2521C1ZQ
</p>
</p>